# .env example for extract_originals.py
# Set MOD_ROOT to the root of the mod folder that contains `common`
# Set STELLARIS_ROOT to the root of your Stellaris installation that contains `common`

MOD_ROOT="C:\\Users\\Leoso\\Desktop\\Stellaris Modding\\The HGTS Towel TEST\\Destroy-All-Minmaxers\\Hitchhiker's Better Game Balance"
STELLARIS_ROOT="C:\\Program Files (x86)\\Steam\\steamapps\\common\\Stellaris"
# OUTPUT_ROOT can be an absolute path or folder base; a timestamp will be appended.
# If not set, a sibling folder next to MOD_ROOT will be used.
# OUTPUT_ROOT="C:\\path\\to\\desired\\output_base"
